.width{
    width: 500px !important;
    
}
.fas{
    cursor: pointer;
}

.deleteBtn{
visibility: hidden;
}

.rowItem:hover .deleteBtn{
    visibility: visible;
}
///rowItem hover olunce deleteBtn visible olsun
.rowItem:hover{
    background: #ebebee;

}